:root {
    --head-padding: 30px;
}

html body {
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 40px;
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(10px, 10vh, 30px);
    color: white;
    background: rgb(66,172,231);

    /*fixed size*/
    min-width: 247px;

}
.sidebar .part-1 {
    font-size: larger;
}
.sidebar .part-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar .part-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#logo {
    position: relative;
    top: 7px;
}


.header {
    grid-row: 1 / 2;
    grid-column: 2 / span 1;

    display: grid;
    grid-template-columns: 10fr repeat(3, 1fr);
    grid-template-rows: 2fr 3fr;
    gap: 10px;
}

.intro {
    display: grid;
    grid-template: 1fr 1fr / 1fr 8fr;
    font-size: 1.5rem;
}

.intro :first-child {
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: center;
}

.intro :nth-child(2) {
    align-self: center;
}

.header .search-bar {
    padding: 10px;
    align-self: center;
}

.header input {
    position: relative;
    top: -7px;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #EDEDED;
    font-size: larger;
    padding: 5px;
}

.header #bell {
    justify-self: end;
    align-self: center;
}

.header #profile {
    justify-self: end;
    align-self: center;
}

.header #name {
    justify-self: center;
    align-self: center;
    font-size: larger;
    padding: 10px;
}

.header button {
    border-radius: 20px;
    border: none;
    background:  rgb(66,172,231);
    color: white;
    font-weight: bold;
    height: 50px;
    width: 100px;
    align-self: center;
    justify-self: center;

    cursor: pointer;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: rgb(237,237,237); 

    /* keep bottom same */
    min-height: 1200px;
}

.body .announcement {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.body .trending{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.body .projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    padding: var(--head-padding);
}
.projects .container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 10px;
    flex: 1;
}

.projects .container .card {
    background: white;
    border-radius: 10px;
    border-left: orange 10px solid;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.projects .container .card .bottom {
    align-self: end;
    justify-self: end;
    padding: 10px;
    padding-top: 40%;
}

.announcement {
    display: flex;
    flex-direction: column;
    padding: var(--head-padding);
}

.announcement .container, .trending .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: large;
}

.announcement .title {
    font-size: larger;
}

.announcement .card {
    padding: 15px;
    border-bottom: 1px black solid;
}

.trending {
    display: flex;
    flex-direction: column;
    padding: var(--head-padding);
}

.trending .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    flex: 1;
}